<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .img img {
            height: 100px;
        }
    </style>
</head>
<body>
<div>
    <a href="/manage/main">返回</a>
</div>
<table>
    <table>
        <tr>
            <td>预览</td>
            <td>影厅名</td>
            <td>行数</td>
            <td>列数</td>
            <td colspan="2">操作</td>
        </tr>
        {{range .Screens}}
        <tr>
            <td class="img" style="height: 100px"><img alt="预览" src="{{.ImgPath}}"></td>
            <td>{{.Name}}</td>
            <td>{{.Rows}}</td>
            <td>{{.Cols}}</td>
            <td><a href="/manage/toUpdateSeat?screenID={{.ID}}">修改座位</a></td>
            <td><a href="/manage/deleteScreen?screenID={{.ID}}">删除</a></td>
        </tr>
        {{end}}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td><a href="/manage/toAddScreen">添加影厅</a></td>
        </tr>
    </table>
</table>
<div id="page_nav">
    <button onclick="location.href='/manage/screen?pageNo=1'">首页</button>
    <button id="prev" onclick="location.href='/manage/screen?pageNo={{.GetPrevPageNo}}'">上一页</button>
    当前是第{{.PageNo}}页 共{{.TotalPageNo}}页,共{{.TotalRecord}}条记录
    <button onclick="location.href='/manage/screen?pageNo={{.GetNextPageNo}}'" id="next">下一页</button>
    <button onclick="location.href='/manage/screen?pageNo={{.TotalPageNo}}'">末页</button>
    到第<input name="pn" id="pn_input" value="{{.PageNo}}"/>页
    <input type="button" value="确定" onclick="goNew()" id="bt_input">
</div>
<script>
    if ("{{.IsHasPrev}}" === "false") {
        document.getElementById("prev").setAttribute("disabled", "disabled");
    }

    if ("{{.IsHasNext}}" === "false") {
        document.getElementById("next").setAttribute("disabled", "disabled");
    }

    function goNew() {
        const pageNo = document.getElementById("pn_input").value;
        if (pageNo < 1 || pageNo > "{{.TotalPageNo}}") {
            return
        }
        location.href = "/manage/screen?pageNo=" + pageNo;
    }
</script>
</body>
</html>