<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.6.0.min.js"></script>
    <title>增加影厅</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <style type="text/css">
        h1 {
            text-align: center;
            margin-top: 200px;
        }

        h1 a {
            color: red;
        }

        input {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="header">
    <span class="wel_word">管理电影</span>
    <div>
        <a href="/manage/screen">返回</a>
    </div>
</div>

<div id="main">
    <form enctype="multipart/form-data" action="/manage/addScreen" method="post" id="form">
        <table>
            <tr>
                <td>影厅名</td>
                <td>行数</td>
                <td>列数</td>
                <td colspan="1">操作</td>
            </tr>
            <tr>
                <td><input name="name" type="text"/></td>
                <td><input name="rows" type="number"/></td>
                <td><input name="cols" type="number"/></td>
                <td><input name="imgPath" type="file" id="img"></td>
                <td><input type="submit" value="提交" id="submit"/></td>
            </tr>
        </table>
        <p><img id="imgPath" src="" alt="预览" style="width: 200px;margin-left: 1000px"></p>
    </form>
</div>
<script>
    //预览
    const imgNode = document.getElementById("img");
    imgNode.onchange = function () {
        const file = imgNode.files[0];
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = function () {
            document.getElementById("imgPath").src = this.result;
        }
    }
    // json
    // $("#submit").click(function () {
    //     var formObject = {};
    //     var formArray = $("#form").serializeArray();
    //     $.each(formArray, function (i, item) {
    //         formObject[item.name] = item.value;
    //     });
    //     formArray["movieID"] = parseInt(formArray["movieID"].value, 10)
    //     $.ajax({
    //         url: "/manage/toAddOrUpdateMovie/addOrUpdateMovie",
    //         type: "post",
    //         contentType: "application/json; charset=utf-8",
    //         data: JSON.stringify(formObject),
    //         dataType: "json",
    //         success: function (data) {
    //             alert(data.msg);
    //         },
    //         error: function (e) {
    //             alert("错误！！");
    //         }
    //     });
    // });
</script>
</body>
</html>